*{
box-sizing: border-box;
margin: 0;

}
:root{
--corbranca:#FFFFFF;
--corlaranja:#FF9922;
--corlaranjaclaro: rgba(255, 136, 0, 0.15);
--corazul:#0088AE;
--corroxo: #A944FF;
--fonte1:'Mochiy Pop One', sem serifa;
--fonte2:'Raleway', sem serifa;


}
.entrar {
    color: black;
    font-family:var(--fonte1);
    text-decoration: none;


}

.cadastro {
    color: var(--corlaranja);
    font-family:var(--fonte1);
    text-decoration: none;
}
 header {
    display: flex;
    justify-items: center;
}
